<form method="POST" action="/signin">
  <label>Username</label>
  <input type="username" name="username" placeholder="Enter your username" required >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password" required >
  <button>Sign In</button>
</form>

<a href="/" class="card-link cardC">Back to Home Page</a>